body {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
}

a,
a:hover,
a:focus,
a:active {
  outline: none;
  text-decoration: none;
  color: inherit;
}

*::selection {
  color: $primary400;
  background-color: $secondary700;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
