$maximum-viewport: 1200;
$minimum-viewport: 576;
$maximum-size: 14;
$minimum-size: 8;

body {
  font-family: "Oswald", sans-serif;
  font-size: calc(
    #{$minimum-size}px + (#{$maximum-size} - #{$minimum-size}) *
      (
        (100vw - #{$minimum-viewport}px) /
          (#{$maximum-viewport} - #{$minimum-viewport})
      )
  );
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:active {
  outline: none;
  text-decoration: none;
  color: inherit;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
