footer {
  min-height: 60px;
  padding: 1em 0 !important;
  background-color: $thirdColor;
  overflow: hidden;
}

.footer-menu-link {
  width: fit-content;
  color: lightgrey;
  font-size: 1rem;
  text-align: center;
  font-weight: lighter;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;

  @include transition-500ms;

  &:hover {
    color: $primary;
    text-decoration: none;
  }
}
