.el-header {
  @media (min-width: $breakpoint-md) {
    @apply relative;
    @apply bg-white;
    @apply shadow-none;
    z-index: auto;
  }

  @apply fixed;
  @apply top-0;
  @apply w-full;
  @apply bg-secondary-600;
  @apply shadow-xl;

  // .el-header 'height' config in app.blade.php
  // Element UI set 'height' forced
  //   height: $headerHeight;

  // If .el-header z-index ~< 2001
  // after open menu on 'mobile screen size',
  // .el-header will be ovelayed by .el-drawer__wrapper
  //
  // el-drawer__wrapper ~= 2001 (changing dynamically)
  z-index: 2020;

  .el-dropdown-menu.el-popper {
    z-index: 3000 !important;
  }
}

.header-icon__inner {
  @apply px-5;
  @apply py-2;
}

.header-icon {
  @include transition-500ms;

  @media (min-width: $breakpoint-lg) {
    @apply text-2xl;
  }

  @media (min-width: $breakpoint-md) {
    @apply text-secondary-900;
  }

  @apply text-xl;
  @apply text-primary-600;

  &:hover,
  &:focus,
  &:active {
    @apply text-primary-400;
  }
}

.header-logo {
  //   @include transition-500ms;

  @media (min-width: $breakpoint-lg) {
    @apply text-5xl;
  }

  @apply text-4xl;
  @apply text-primary-500;
  @apply font-handwritten;
  @apply leading-none;

  &:hover {
    @apply text-primary-400;
  }
}
