.heading-container {
  position: relative;
  margin: 0 0 1.25rem 0;
  color: $secondary;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
}

.heading {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 auto;
}

.heading-logo {
  position: relative;
  width: 72px;
  height: 50px;
  padding: 0 10px;
  object-position: center;
  object-fit: fill;
  user-select: none;
  overflow: hidden;
  z-index: 3000;
}

.heading-line {
  position: relative;
  display: flex;
  flex: 1 1 0%;
  top: 50%;
  height: 2px;
  background: var(--color-secondary100);
}
