.el-header {
  @media (min-width: $breakpoint-md) {
    @apply relative;
    @apply bg-white;
    @apply shadow-none;
    z-index: auto;
  }

  @apply fixed;
  @apply top-0;
  @apply w-full;
  @apply bg-secondary-600;
  @apply shadow-xl;

  // .el-header 'height' config in app.blade.php
  // Element UI set 'height' forced
  //   height: $headerHeight;

  // If .el-header z-index ~< 2001
  // after open menu on 'mobile screen size',
  // .el-header will be ovelayed by .el-drawer__wrapper
  //
  // el-drawer__wrapper ~= 2001 (changing dynamically)
  z-index: 2020;

  .el-dropdown-menu.el-popper {
    z-index: 3000 !important;
  }
}

.header-icon__inner {
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply px-5;
  @apply py-2;
}

.header-icon {
  @media (min-width: $breakpoint-lg) {
    @apply text-2xl;
  }

  @media (min-width: $breakpoint-md) {
    @apply text-secondary-900;
  }

  @apply text-xl;
  @apply text-primary-600;

  &:hover,
  &:focus,
  &:active {
    @include transition-500ms;
    @apply text-primary-400;
  }
}

.header-logo {
  //   @include transition-500ms;

  @media (min-width: $breakpoint-lg) {
    @apply text-5xl;
  }

  @apply text-4xl;
  @apply text-primary-500;
  @apply font-handwritten;
  @apply leading-none;

  &:hover {
    @apply text-primary-400;
  }
}

.header-dropdown-notification {
  @media (min-width: $breakpoint-md) {
    top: auto;
    max-width: 450px;
    max-height: 450px;
  }

  top: 74px;
  min-width: 270px;
  max-width: 300px;
  min-height: 240px;
  max-height: 270px;
  padding: 0 !important;
  overflow: hidden;
  z-index: 2041 !important;
}

.header-notification__menu {
  padding: 0 !important;
  z-index: 3042 !important;

  .header-notification__menu-title {
    @media (min-width: $breakpoint-md) {
      @apply text-base;
    }
    @apply text-xs;
    @apply text-left;
  }

  .header-notification__menu-icon {
    @media (min-width: $breakpoint-md) {
      @apply text-base;
    }

    @apply text-sm;
  }
}

.header-dropdown-user {
  @media (min-width: $breakpoint-md) {
    top: auto;
    max-width: 290px;
  }

  top: 74px;
  min-width: 200px;
  max-width: 250px;
  padding: 0 !important;
  z-index: 2041 !important;
}

.header-user__menu {
  padding: 0 !important;
  z-index: 3042 !important;
}

.header-user__menu-title {
  @media (min-width: $breakpoint-md) {
    @apply text-lg;
  }
  @apply text-sm;
  @apply text-left;
}

.header-user__profile-username {
  @media (min-width: $breakpoint-md) {
    @apply text-xl;
  }
  @apply text-base;
  @apply text-secondary-700;
  @apply leading-tight;
}

.header-user__profile-email {
  @media (min-width: $breakpoint-md) {
    @apply text-base;
  }
  @apply text-sm;
  @apply text-secondary-600;
  @apply font-light;
}
