@mixin bg-dark35 {
  background-color: rgba(0, 0, 0, 0.35);
}

@mixin bg-dark50 {
  background-color: rgba(0, 0, 0, 0.5);
}

@mixin img-fluid-custom {
  width: 100%;
  height: 100%;
  object-position: center;
  overflow: hidden;
}

@mixin text-shadow {
  text-shadow: 1px 1px 4px black;
}

@mixin transition-500ms {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

@mixin border-dark($type: border, $line-width: 1px) {
  #{$type}: $line-width solid rgba(0, 0, 0, 0.125);
}

@mixin grid-row {
  display: grid;
  grid-auto-flow: row;
  margin: 0px;
  padding: 0px;
}

@mixin grid-list-row {
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
  margin: 0px;
  padding: 0px;
}

@mixin grid-list-item {
  display: grid;
  grid-column-start: auto;
  width: 100%;
  min-height: 150px;
  height: 100%;
  overflow: hidden;
}
