nav {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 1.5em 0;
    justify-content: center;
}

.nav-icon {
    width: 25px;
    height: 25px;
    border: none;
    padding: 0px;
    font-size: 25px;
    background: none;
}

.search {
    flex-grow: 2;
    height: fit-content;
}

.search-btn{
    outline: none;
}
#search-field {
    width: calc(100% - 2em - 25px);
    margin-left: 1em;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid white;
    outline: none;

    &:hover, &:focus{
        border-bottom: 1px solid #d3d3d3;
        transition: 0.4s ease-in;
    }

}

.notification {
    width: fit-content;
}

.account {
    position: relative;
    width: fit-content;
}