.news-board {
  @apply w-full;
  @apply grid;
  @apply grid-cols-2;
  @apply gap-3;
  @apply mb-8;

  @media (min-width: $breakpoint-sm) {
    @apply grid-cols-4;
  }

  img {
    z-index: 101;
  }
}

.news-board__item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  &--large {
    @apply h-64;
    @apply row-span-2;
    @apply col-span-2;

    @media (min-width: $breakpoint-sm) {
      height: 400px;
    }
  }
  &--medium {
    @apply h-48;
    @apply row-span-1;
    @apply col-span-2;

    @media (min-width: $breakpoint-sm) {
      height: 270px;
    }
  }

  &--small {
    @apply h-48;
    @apply row-span-1;
    @apply col-span-2;

    @media (min-width: $breakpoint-xs) {
      @apply col-span-1;
    }

    @media (min-width: $breakpoint-sm) {
      height: 270px;
    }
  }
}

.news-board__typography {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.9);
  overflow-y: auto;
  z-index: 102;

  &--base {
    @apply content-start;
    @apply p-2;
  }

  &--large {
    @apply absolute;
    @apply justify-center;
  }
}

.bg-vignette {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(0, 0, 0, 0.3) 75%,
    rgba(0, 0, 0, 0.65) 100%
  );
}

.vignette-large {
  box-shadow: inset 0 -170px 40px rgba(0, 0, 0, 0.25);
}

.vignette {
  box-shadow: inset 0 -35px 40px rgba(0, 0, 0, 0.25);
}

.news-board__category {
  @media (min-width: $breakpoint-xs) {
    @apply text-2xl;
  }

  @apply w-full;
  @apply text-xl;
  @apply tracking-wider;
  @apply font-light;
  @apply leading-tight;
  @apply text-center;
  @apply text-white;
}

.news-board__title {
  @apply uppercase;
  @apply font-semibold;
  @apply leading-tight;
  z-index: 102;

  &--base {
    @media (min-width: $breakpoint-xs) {
      @apply text-lg;
    }

    @apply text-base;
    @apply text-secondary-600;
    @apply text-left;
    @apply p-1;
    width: fit-content;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.9);
  }

  &--large {
    @media (min-width: $breakpoint-xs) {
      @apply text-4xl;
    }

    @apply text-xl;
    @apply text-white;
    @apply text-center;
    @apply tracking-wide;
  }
}

.news-board__accessory {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  height: 40px;
  width: 50%;
  margin: 0 auto;

  @media (min-width: $breakpoint-xs) {
    width: 25%;
  }
}

.news-board__accessory__logo {
  position: relative;
  display: flex;
  align-items: center;
  //   width: 40px;
  //   height: 40px;
  padding: 0 10px;
  object-position: center;
  object-fit: fill;
  user-select: none;
  overflow: hidden;
  z-index: 103;
}

.news-board__accessory__line {
  position: relative;
  display: flex;
  flex: 1 1 0%;
  top: 50%;
  height: 2px;
  background: white;
}

.news-board__tag-wrapper {
  @apply flex;
  @apply flex-row;
  @apply flex-nowrap;

  @apply justify-start;
  @apply w-full;
  height: fit-content;
}

.news-board__tag {
  @apply flex;
  @apply items-center;
  @apply bg-secondary-800;
  @apply text-base;
  @apply p-2;
  width: fit-content;
  height: fit-content;
  color: rgba(255, 255, 255, 0.9);

  &:not(:last-child) {
    @apply mr-1;
  }
}
