.recipe-compilation {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 400px 200px 200px;
    align-items: stretch;
    grid-gap: 10px;
    margin: 0px;
    padding: 0px;

    div {
        display: flex;
        height: fit-content;
        // background-color: rgba(211, 211, 211, 0.322);
        position: relative;
        overflow: hidden;
        z-index: 1;

        svg {
            width: 24px;

            path {
                fill: whitesmoke;
            }
        }

        img {
            z-index: -999;
        }
    }
}

.recipe-compilation-item-large-lt {
    grid-column: 1 / span 6;

    div {
        flex-wrap: wrap;
        align-items: center;

        h2,
        h3,
        span,
        p {
            width: 100%;
            z-index: 2;
        }
    }
}

.recipe-compilation-item-large-rt {
    grid-column: 7 / span 6;

    div {
        flex-wrap: wrap;
        align-items: center;

        h2,
        h3,
        span,
        p {
            width: 100%;
            z-index: 2;
        }
    }
}

.recipe-compilation-item-medium-lc {
    grid-column: 1 / span 6;
}

.recipe-compilation-item-small-cc {
    grid-column: 7 / span 3;
}

.recipe-compilation-item-small-rc {
    grid-column: 10 / span 3;
}

.recipe-compilation-item-small-lb {
    grid-column: 1 / span 3;
}

.recipe-compilation-item-small-cb {
    grid-column: 4 / span 3;
}

.recipe-compilation-item-large-rb {
    grid-column: 7 / span 6;
}

.recipe-compilation-item-category {
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
    text-align: center;
    font-size: 1.25rem;
    font-weight: lighter;
}

.recipe-compilation-item-name {
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.recipe-compilation-item-title {
    width: fit-content;
    height: fit-content;
    padding: 0.15em 0.25em;
    margin: 0;
    background-color: white;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    color: gray;
}

.recipe-list-sort {
    display: flex;
    justify-content: center;
    margin: 1.75em 0px;
    padding: 0px;

    a {
        background: lightgrey;
        padding: 0.75em;
        margin-right: 10px;
        font-size: 1em;
        border-radius: 20px;

        &:last-child {
            margin-right: 0px;
        }

        &:active {
            color: white;
            background: $secondColor;
        }
    }
}

.recipe-list {
    @include grid-list-row;

    // One '.recipe-list-item' in grid line
    @include media-breakpoint-up(md) {
        grid-template-columns: repeat(1, 1fr);
    }

    // One '.recipe-list-item' in grid line
    @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(2, 1fr);
    }

    grid-auto-rows: minmax(150px, auto);
}

.recipe-list-item {
    @include grid-list-item;
    @include border-dark(border, 1px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border-radius: 0.25rem;
}

.recipe-list-images {
    grid-row: 1 / end;
    display: flex;
    border: none;
    position: relative;
}

.recipe-author {
    @include bg-dark50;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
}

.recipe-author-name {

    // One '.recipe-list-item' in grid line
    @include media-breakpoint-up(xs) {
        font-size: 0.8rem;
    }

    @include media-breakpoint-up(sm) {
        font-size: 1.15rem;
    }

    @include media-breakpoint-up(md) {
        font-size: 1.3rem;
    }

    // Two '.recipe-list-item' in grid line
    @include media-breakpoint-up(lg) {
        font-size: 0.9rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 1.15rem;
    }

    align-content: center;
    justify-content: space-between;
    color: rgba(252, 252, 252, 0.855);
    text-align: center;
    word-break: normal;
}

.recipe-list-photo-author {
    transition: all 0.4s ease;
    width: 85%;
    overflow: hidden;
    border: 2px solid $primary;

    &:hover {
        width: 100%;
        border: none;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
    }
}

.recipe-list-title {
    grid-row: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    color: black;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;

    h2 {

        // One '.recipe-list-item' in grid line
        @include media-breakpoint-up(xs) {
            font-size: 1rem;
        }

        @include media-breakpoint-up(sm) {
            font-size: 1.2rem;
        }

        @include media-breakpoint-up(md) {
            font-size: 1.7rem;
        }

        // Two '.recipe-list-item' in grid line
        @include media-breakpoint-up(lg) {
            font-size: 1.35rem;
        }

        @include media-breakpoint-up(xl) {
            font-size: 1.5rem;
        }

        width: 100%;
        text-align: center;
        color: $thirdColor;
    }
}

.recipe-list-specification {
    grid-row: 3 / 3;
    display: flex;
    width: 100%;
    padding: 0 0.5em;
    justify-content: space-between;
}

.recipe-list-specification-line {

    // One '.recipe-list-item' in grid line
    @include media-breakpoint-up(xs) {
        font-size: 0.65rem;
    }

    @include media-breakpoint-up(sm) {
        font-size: 0.85rem;
    }

    @include media-breakpoint-up(md) {
        font-size: 1.1rem;
    }

    // Two '.recipe-list-item' in grid line
    @include media-breakpoint-up(lg) {
        font-size: 0.7rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 0.8rem;
    }

    transition: all 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.35em;
    color: $primary;
    text-align: center;
    border: 1px solid rgba(211, 211, 211, 0.8);
    border-radius: 20px;
}

.recipe-list-ingredients {
    grid-row: 4 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0.5em;
}

.recipe-socials-widgets {
    grid-row: 6 / 7;
    display: flex;
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    color: lightgrey;
    @include border-dark(border-top, 1px);
}

.widget-like {
    width: 50%;
    margin: 0px;
    padding-left: 0.5em;
    text-align: left;
    // padding-left: 5px;
}

.btn-like {
    color: lightgrey;

    &:hover {
        color: rgb(221, 29, 0);
    }
}

.btn-edit {
    color: lightgrey;

    &:hover {
        color: dodgerblue;
    }
}

.btn-bookmark {
    color: lightgrey;

    &:hover {
        color: olivedrab;
    }
}

.widget-facebook,
.widget-vk {
    width: 25%;
    margin: 0px;
    text-align: center;
    color: lightgrey;

    &:hover {
        color: $vk;
    }
}
