.sidebar {
  position: fixed !important;
  top: 0;
  left: 0;
  width: fit-content;
  height: 100%;
  overflow-x: hidden;
  z-index: 1;

  .el-item,
  .el-submenu {
    &:hover {
      background-color: $thirdColor !important;
      color: $primary !important;
      text-decoration: none;
    }
  }
}

.el-menu {
  border-right: none !important;
  position: none !important;
}

.social_icon {
  color: white;
  @include transition-500ms;

  &:hover {
    transform: scale(2);
    color: $primary;
  }
}
