.transition-500ms {
  @include transition-500ms;
}

.bg-dark35 {
  @include bg-dark35;
}

.bg-dark50 {
  @include bg-dark50;
}

.text-shadow {
  @include text-shadow;
}

.img-fluid-center {
  @include img-fluid-custom;
  object-fit: cover;
}

.img-fluid-contain {
  @include img-fluid-custom;
  object-position: center;
}

.border-r25 {
  border-radius: 25px;
}

.logo{
  @include transition-500ms;

  @include media-breakpoint-up(xs) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(sm) {
    font-size: 2.25rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 2rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.5rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 3rem;
  }

  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Lobster", cursive;
  color: $primary;

  &:hover {
    color: lighten($primary, 10%);
  }
}
