$primary: #b5904e;
$secondary: #5b5b5b;

$headerHeight: 64px;

$breakpoint-xs: "600px";
$breakpoint-sm: "768px";
$breakpoint-md: "992px";
$breakpoint-lg: "1200px";

// Trying to make like "Material Design" colors
// Source: http://mcg.mbitson.com/#!?mcgpalette0=%23b5904e&mcgpalette1=%235b5b5b

$primary50: #f6f2ea;
$primary100: #e9deca;
$primary200: #dac8a7;
$primary300: #cbb183;
$primary400: #c0a169;
$primary500: #b5904e;
$primary600: #ae8847;
$primary700: #a57d3d;
$primary800: #9d7335;
$primary900: #8d6125;

$secondary50: #ebebeb;
$secondary100: #cecece;
$secondary200: #adadad;
$secondary300: #8c8c8c;
$secondary400: #747474;
$secondary500: #5b5b5b;
$secondary600: #535353;
$secondary700: #494949;
$secondary800: #404040;
$secondary900: #2f2f2f;

// https://sass-lang.com/documentation/interpolation
:root {
  --breakpoint-xs: #{$breakpoint-xs};
  --breakpoint-sm: #{$breakpoint-sm};
  --breakpoint-md: #{$breakpoint-md};
  --breakpoint-lg: #{$breakpoint-lg};

  --color-primary50: #{$primary50};
  --color-primary100: #{$primary100};
  --color-primary200: #{$primary200};
  --color-primary300: #{$primary300};
  --color-primary400: #{$primary400};
  --color-primary500: #{$primary500};
  --color-primary600: #{$primary600};
  --color-primary700: #{$primary700};
  --color-primary800: #{$primary800};
  --color-primary900: #{$primary900};

  --color-secondary50: #{$secondary50};
  --color-secondary100: #{$secondary100};
  --color-secondary200: #{$secondary200};
  --color-secondary300: #{$secondary300};
  --color-secondary400: #{$secondary400};
  --color-secondary500: #{$secondary500};
  --color-secondary600: #{$secondary600};
  --color-secondary700: #{$secondary700};
  --color-secondary800: #{$secondary800};
  --color-secondary900: #{$secondary900};
}
