// Body
// $body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$vk:#45668E;
$twitter:#00AAEC;
$g_plus:#e3342f;
$fistColor: #d1b183;
$secondColor: #2b2c2f;
$thirdColor: #1f2123;

$primary: #b5904e;
$secondary: #5b5b5b;

