// Fonts
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
// for Logo
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');


@import 'variables';
@import 'mixins';
@import '~bootstrap/scss/bootstrap';
@import 'sidebar';
@import 'nav';
@import 'page';
@import 'recipe';
@import 'user';
@import 'post';
@import 'footer';
//Style for Scrollbar im Chrome
@import 'scrollbar';
@import "~vue-snotify/styles/material";
@import 'snotifyStyles';

body {
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

ul {
    margin: 0px;
    padding: 0px;
}

.icon {
    width: 1.2em;
    height: 1.2em;
    align-self: center;
}

a,
a:hover,
a:active {
    outline: none;
    text-decoration: none;
    color: inherit;
}

.bg-dark35 {
    background-color: rgba(0, 0, 0, 0.35);
}

.bg-dark50 {
    background-color: rgba(0, 0, 0, 0.5);
}

.text-shadow {
    text-shadow: 1px 1px 4px black;
}

.min-height250 {
    min-height: 250px;
}

.justify-self-end {
    justify-self: flex-end;
}

.justify-self-start {
    justify-self: flex-start;
}

.img-fluid-center {
    @include img-fluid-custom;
    object-fit: cover;
}

.img-fluid-contain {
    @include img-fluid-custom;
    object-position: center;
}

.border-r25 {
    border-radius: 25px;
}

.form-custom-secondprimary {

    .form-control::placeholder {
        color: darken(lightgray, 15%) !important;
        font-size: 1.25em;
        text-align: center;
        opacity: 1;
    }

    .btn:not([disabled]):not([type="submit"]) {
        @include bg-dark35;
        color: $primary;

        &:hover {
            transition: 0.4s linear;
            color: inherit !important;
            background-color: inherit !important;
        }
    }

    input,
    textarea,
    option {
        color: $primary !important;
        @include bg-dark35;
        border: 1px solid $primary !important;
        text-align: center;
        overflow: hidden;
        z-index: 1;
    }

    textarea {
        resize: none;
        overflow: auto;

        /* width */
        &::-webkit-scrollbar {
            width: 16px;
        }
    }

    input:focus,
    input:active,
    textarea:active,
    textarea:focus {
        transition: 0.255s linear;
        color: darken(lightgray, 5%) !important;
        text-align: center;
        text-shadow: none;
        background-color: darken($secondary, 10%) !important;
        border-color: darken($primary, 25%);
        border-width: 2px;
    }

    li {
        @include bg-dark35;
        color: darken($primary, 3%);
    }

    .form-group label {
        display: flex;
        position: absolute;
        top: -20%;
        padding: calc(0.375em + 0.5px) 0.85em calc(0.375em + 0.5px) 0.85em !important;
        margin: 0;
        background-color: darken($secondary, 5%);
        border: 2px solid $primary;
        border-bottom: 0 !important;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
        z-index: 0;
    }

    .custom-file-label {
        border: 1px solid $primary;
        @include bg-dark35;

        &::after {
            content: 'Выбрать файл' !important;
            @include bg-dark35;
            color: $primary;
            opacity: 0.8;
        }
    }
}
