// for Logo
@font-face {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lobster/Lobster-Regular.ttf") format("truetype");
}

// @import url("https://fonts.googleapis.com/css?family=Lobster");
