.post-list {
  @media (min-width: $breakpoint-md) {
    @apply gap-3;
  }

  @apply grid;
  @apply grid-cols-2;
  @apply gap-6;
}

.post-list__item {
  @media (min-width: $breakpoint-md) {
    @apply col-span-1;
  }

  @apply col-span-2;
}

.post-list-images {
  grid-row: 1 / end;
  display: flex;
  border: none;
  position: relative;
}

.post-author {
  @include bg-dark50;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.post-author-name {
  font-size: 1.15rem;
  align-content: center;
  justify-content: space-between;
  color: rgba(252, 252, 252, 0.855);
  text-align: center;
  word-break: normal;
}

.post-list-photo-author {
  display: flex;
  width: 100%;
  justify-content: center;
  user-select: none;

  img {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
  }
}

.post-list-title {
  grid-row: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  color: black;
  overflow: hidden;
  word-break: break-word;
  text-overflow: ellipsis;

  h2 {
    font-size: 1rem;
    width: 100%;
    text-align: center;
    color: $secondary600;
  }
}

.post-list-specification {
  grid-row: 3 / 3;
  display: flex;
  width: 100%;
  padding: 0 0.5em;
  justify-content: space-between;
}

.post-list-specification-line {
  font-size: 0.8rem;
  @include transition-500ms;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.35em;
  margin: 0 0.25rem;
  color: $primary;
  text-align: center;
  border: 1px solid rgba(211, 211, 211, 0.8);
  border-radius: 20px;
}

.post-list-ingredients {
  grid-row: 4 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.5em;
}

.post-socials-widgets {
  grid-row: 6 / 7;
  display: flex;
  align-items: center;
  padding: 0.5em;
  font-size: 1em;
  color: lightgrey;
  @include border-dark(border-top, 1px);
}
