.recipe-list {
  @include grid-list-row;

  // One '.recipe-list-item' in grid line
  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(1, 1fr);
  }

  // One '.recipe-list-item' in grid line
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  grid-auto-rows: minmax(150px, auto);
}

.recipe-list-item {
  @include grid-list-item;
  @include border-dark(border, 1px);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border-radius: 0.25rem;
}

.recipe-list-images {
  grid-row: 1 / end;
  display: flex;
  border: none;
  position: relative;
}

.recipe-author {
  @include bg-dark50;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.recipe-author-name {
  // One '.recipe-list-item' in grid line
  @include media-breakpoint-up(xs) {
    font-size: 0.8rem;
  }

  @include media-breakpoint-up(sm) {
    font-size: 1.15rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.3rem;
  }

  // Two '.recipe-list-item' in grid line
  @include media-breakpoint-up(lg) {
    font-size: 0.9rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 1.15rem;
  }

  align-content: center;
  justify-content: space-between;
  color: rgba(252, 252, 252, 0.855);
  text-align: center;
  word-break: normal;
}

.recipe-list-photo-author {
  display: flex;
  width: 100%;
  justify-content: center;
  @include transition-500ms;

  img {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
  }
}

.recipe-list-title {
  grid-row: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  color: black;
  overflow: hidden;
  word-break: break-word;
  text-overflow: ellipsis;

  h2 {
    // One '.recipe-list-item' in grid line
    @include media-breakpoint-up(xs) {
      font-size: 1rem;
    }

    @include media-breakpoint-up(sm) {
      font-size: 1.2rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 1.7rem;
    }

    // Two '.recipe-list-item' in grid line
    @include media-breakpoint-up(lg) {
      font-size: 1.35rem;
    }

    @include media-breakpoint-up(xl) {
      font-size: 1.5rem;
    }

    width: 100%;
    text-align: center;
    color: $thirdColor;
  }
}

.recipe-list-specification {
  grid-row: 3 / 3;
  display: flex;
  width: 100%;
  padding: 0 0.5em;
  justify-content: space-between;
}

.recipe-list-specification-line {
  // One '.recipe-list-item' in grid line
  @include media-breakpoint-up(xs) {
    font-size: 0.65rem;
  }

  @include media-breakpoint-up(sm) {
    font-size: 0.85rem;
  }

  @include media-breakpoint-up(md) {
    font-size: 1.1rem;
  }

  // Two '.recipe-list-item' in grid line
  @include media-breakpoint-up(lg) {
    font-size: 0.7rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 0.8rem;
  }

  @include transition-500ms;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.35em;
  margin: 0 0.25rem;
  color: $primary;
  text-align: center;
  border: 1px solid rgba(211, 211, 211, 0.8);
  border-radius: 20px;
}

.recipe-list-ingredients {
  grid-row: 4 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0.5em;
}

.recipe-socials-widgets {
  grid-row: 6 / 7;
  display: flex;
  align-items: center;
  padding: 0.5em;
  font-size: 1em;
  color: lightgrey;
  @include border-dark(border-top, 1px);
}

.widget-like {
  flex-grow: 2;
  margin: 0;
  padding: 0;
  text-align: left;
  i {
    margin-right: 0.25em;
  }
}

.btn-like {
  color: lightgrey;

  &:hover {
    color: rgb(221, 29, 0);
  }
}

.btn-edit {
  color: lightgrey;

  &:hover {
    color: dodgerblue;
  }
}

.btn-bookmark {
  color: lightgrey;

  &:hover {
    color: olivedrab;
  }
}

.widget-facebook,
.widget-vk {
  flex-grow: 1;
  margin: 0px;
  text-align: center;
  color: lightgrey;

  &:hover {
    color: $vk;
  }
}
