.recipe-about-heading {
  color: $primary;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
}

.recipe-about-paragraph {
  color: gray;
  margin-bottom: 1em;
  padding: 0 1.2em;
}
