.form-custom-secondprimary {
  background-color: $secondary;
  color: $primary;

  .form-control::placeholder {
    color: darken(lightgray, 15%) !important;
    font-size: 1.25em;
    text-align: center;
    opacity: 1;
  }

  .btn:not([disabled]):not([type="submit"]) {
    @include bg-dark35;
    color: $primary;

    &:hover {
      color: inherit !important;
      background-color: inherit !important;
      @include transition-500ms;
    }
  }

  input,
  textarea,
  option {
    color: $primary !important;
    background-color: darken($secondary, 15%);
    border: 1px solid $primary !important;
    text-align: center;
    overflow: hidden;
    z-index: 1;
  }

  textarea {
    resize: none;
    overflow: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 16px;
    }
  }

  input:focus,
  input:active,
  textarea:active,
  textarea:focus {
    transition: 0.255s linear;
    color: darken(lightgray, 5%) !important;
    text-align: center;
    text-shadow: none;
    background-color: darken($secondary, 10%) !important;
    border-color: darken($primary, 25%);
    border-width: 2px;
  }

  li {
    @include bg-dark35;
    color: darken($primary, 3%);
  }

  select {
    color: $primary !important;
    @include bg-dark35;
    border: 1px solid $primary !important;
    text-align: center;
    z-index: 2;

    &:focus,
    &:active {
      background-color: darken($secondary, 10%) !important;
      border-color: darken($primary, 25%);
    }
  }

  .form-group label {
    display: flex;
    position: absolute;
    top: -20%;
    padding: 0.485rem 0.85rem !important;
    margin: 0;
    background-color: darken($secondary, 5%);
    border: 2px solid $primary;
    border-bottom: 0;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    z-index: 0;
  }

  .custom-file-label {
    border: 1px solid $primary;
    @include bg-dark35;

    &::after {
      content: "Выбрать файл" !important;
      @include bg-dark35;
      color: $primary;
      opacity: 0.8;
    }
  }
}
